* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

body {
    font-size: 1.5rem;
    margin: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

header {
    background-color: #293b49;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 1em;
}

h1 {
    text-align: center;
    color: #f5f6f8;
}

.cv-wrapper h2 {
    margin: 0;
    font-size: 4rem;
    color: #293b49;
}

h3 {
    font-size: 2rem;
    color: #293b49;
    margin-top: 0;
}

.form-wrapper {
    background-color: #f5f6f8;
    /* max-width: 600px; */
}

.form-wrapper,
.cv-wrapper {
    border: none;
    /* background-color: rgb(252, 249, 249); */
}

button {
    cursor: pointer;
}


/* Form styles */
form {
    /* border: 1px solid black; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* margin-bottom: 2em; */
    padding: 0;
    border: none;
}

legend {
    font-weight: bold;
    font-size: 2.5rem;
    margin: .5em 0;
    color: #293b49;
}

input,
textarea {
    appearance: none;
    border: none;
}

form input,
form button {
    font: inherit;
}

form input {
    display: block;
    border: 1px solid #234E70;
    /* border-radius: 5px; */
    padding: .4em;
    margin-top: .5em;
    width: 100%;
}

/* form label {
    font-style: italic;
} */

form button {
    padding: .7em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #234E70;
    color: white;
}

.add-btn {
    margin-bottom: 1em;
    color: white;
    background-color: #234E70;
    position: relative;
}

.delete-btn {
    background-color: rgb(187, 68, 68);
    color: white;
    align-self: flex-end;
}

.editBtn {
    position: absolute;
    right: 1em;
    font: inherit;
    font-weight: bold;
    padding: .5em 1em;
    z-index: 2;
    border: none;
    background-color: #234E70;
    color: white;
}

form button:hover,
.editBtn:hover {
    background-color: #517ea3;
}

.delete-btn:hover {
    background-color: rgb(224, 76, 76);
}

.cv-wrapper {
    border: 4px solid #ebe7e7;
    padding: 2.7em;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* max-width: 550px; */
}

hr {
    color: #293b49;
    width: 100%;
}

p {
    font-size: 1.6rem;
}

.detail-field {
    font-style: italic;
    font-size: 1.4rem;
    margin-right: .5em;
    font-weight: bold;
}

/* Media queries */
@media screen and (min-width: 800px) {
    main {
        flex-direction: row;
        justify-content: space-around;
    }

    .cv-wrapper,
    .form-wrapper {
        width: 40%;
    }
}

@media screen and (min-width: 950px) {
    .add-btn {
        align-self: flex-start;
        position: relative;
        bottom: 3.5em;
        margin-bottom: 0;
    }
}